body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  padding: 20px;
  background: #e8dfe7;
  font-family: 'Open Sans', sans-serif;
}
.component {
  float: left;
  border-radius: 4px;
  border: 5px solid rgba(0, 0, 0, 0.06);
}
.component .title {
  float: left;
  width: 100%;
  background: #a575ac;
}
.component .title h2 {
  float: left;
  padding: 20px;
  font-size: 13px;
  text-transform: uppercase;
  color: #e8dfe7;
}
.component .title button {
  float: right;
  margin: 15px 20px 0 0;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: lowercase;
  border: none;
  border-radius: 2px;
  background: #ecc683;
  color: rgba(0, 0, 0, 0.55);
}
.component .component-inner {
  float: left;
  width: 100%;
  background: #ffffff;
  padding: 20px 0;
}
.block {
  float: left;
  width: 100%;
  margin: 5px 0;
}
.block .block-left {
  float: left;
  width: 30%;
  text-align: right;
}
.block .block-right {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding: 0 0 0 30px;
  font-family: 'EB Garamond', serif;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.6);
}
.block strong {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.block img {
  float: left;
  border-radius: 3px;
}
